body{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times,sans-serif;
}
div.header{
    background-image:url('./image/1.png');
    background-repeat:repeat-y;
}
div.bkgrd1{
    background-color:rgba(0,0,0,0.5);
    height:100%;
    text-align:center;
}
h1.first{
    color:white;
    text-align:center;
    padding:100px 0 60px;
    margin:0;
    font-size:60px
}
p.first{
    color:white;
    text-align:center;
    width:40%;
    margin:0 auto 80px;
}
div.log{
    border:1px solid rgba(256,256,256,0.3);
    text-align:center;
    padding:40px 80px;
    display:inline-block;
    margin-bottom:200px;
}
h4.header{
    color:white;
    margin:5px 0;
}
p.small{
    color:rgba(256,256,256,0.3);
    font-size:10px;
    margin-bottom:30px;
}
.input{
    background-color:rgba(0,0,0,0);
    color:white;
    padding:5px;
    border:1px solid rgba(256,256,256,0.3);
    margin:10px;
}
.smt{
    background-color:white;
    padding:5px;
    width:70px;
    text-align:center;
    margin:10px;
}
@media screen and (max-width:500px){
    div.log{
        width:100%;
        padding:5px;
        margin-bottom:150px;
    }
}


div.second{
    margin:0;
    text-align:center;
    padding:30px 15px;
}
h1.second{
    margin-bottom:50px;
}
ul.fir{
    list-style-type:none;
    padding:0;
    margin:20px -60px 20px 20px;
    text-align:center;
}
h4.li{
    color:black;
    margin:0;
}
p.li{
    color:rgba(0,0,0,0.7);
    margin:10px 0 0;
}
li.one{
    background-image:url('./image/b.png');
    padding-left:70px;
    padding-right:60px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:0 0 50px;
    width:30%;
    text-align:left;
}
li.two{
    background-image:url('./image/a.png');
    padding-left:70px;
    padding-right:60px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:0 0 50px;
    width:30%;
    text-align:left;
}
li.three{
    background-image:url('./image/c.png');
    padding-left:70px;
    padding-right:60px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:0 0 50px;
    width:30%;
    text-align:left;
}
li.four{
    background-image:url('./image/d.png');
    padding-left:70px;
    padding-right:60px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:0 0 50px;
    width:30%;
    text-align:left;
}


div.third{
    margin:0;
    background-image:url('./image/2.png');
    background-repeat:no-repeat;
}
div.bkgrd2{
    background-color:rgba(0,0,0,0.5);
    height:100%;
    padding:30px 60px;
}
div.policies{
    display:inline-block;
    text-align:left;
    width:35%;
}
h1.policies{
    color:white;
}
p.policies{
    color:rgba(256,256,256,0.5);
    margin:30px 0;
}
input.check{
    background-color:white;
    padding:10px;
    border:1px solid rgba(256,256,256,0.3);
    margin-right:10px;
    cursor:pointer;
}
input.product{
    background-color:rgba(0,0,0,0);
    padding:10px;
    color:white;
    border:1px solid rgba(256,256,256,0.3);
    margin-right:10px;
    cursor:pointer;
}
ul.item{
    position:relative;
    left:130px;
    display:inline-block;
    list-style-type:circle;
    border:1px solid rgba(256,256,256,0.3);
    border-radius:20px;
    padding:20px 20px 20px 30px;
    list-style-type:none;
}
div.desc img{
    width:100%;
    height:auto;
}
li.item{
    text-align:center;
    padding:50px 20px;
    background-color:white;
}
div.desc{
    display:inline-block;
    margin-right:10px;
    width:190px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:3px;
}
div.desc div{
    padding-top:5px;
}
h2.desc{
    text-align:left;
    margin:0 2px;
    font-size:20px;
}
p.po{
    text-align:left;
    font-size:2px;
    margin:10px 0;
    color:rgba(0,0,0,0.5);
}


div.fourth{
    text-align:center;
    padding-bottom:70px;
}
div.fourth h1{
    margin:70px 0;
}
li.person{
    display:inline-block;
    width:200px;
    padding:0 30px;
}
li.person p{
    color:rgba(0,0,0,0.7);
    margin-bottom:0;
}


div.fifth{
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
}
div.fifth>div{
    width:80%;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
}
div.img{
    width:600px;
    height:350px;
    overflow:hidden;
    display:inline-block;
}
div.img img{
    position:relative;
    top:-30px;
}
div.con{
    display:inline-block;
    width:300px;
    vertical-align:100px;
    margin:0 50px;
}
div.con p{
    color:rgba(0,0,0,0.7);
}


div.sixth{
    border-bottom:1px solid rgba(0,0,0,0.1);
    text-align:center;
    padding:40px 0;
}
div.sixth p{
    color:rgba(0,0,0,0.5);
    width:50%;
    margin:auto;
    margin-bottom:20px;
}
div.intro{
    width:90%;
    margin:auto;
    text-align:center;
}
div.person{
    width:450px;
    height:330px;
    position:relative;
    display:inline-block;
    background-repeat:no-repeat;
    margin:10px;
}
div.bkgrd3{
    background-color:rgba(0,0,0,0.6);
    height:100%;
    width:100%;
    text-align:center;
    position:absolute;
    display:none;
}
div.person:hover div.bkgrd3{
    display:block;
}
div.person h2{
    margin-top:100px;
    color:white;
}
div.person p{
    color:rgba(256,256,256,0.7);
}
div.circle{
    position:relative;
    display:inline-block;
    margin:0 10px;
}
div.mark{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}
div.mark img{
    padding-top:18px;
    width:auto;
}


div.seventh{
    padding:30px;
    text-align:center;
}
form.write{
    width:350px;
    text-align:center;
    display:inline-block;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:10px;
    padding:40px;
}
form.write h3{
    margin:40px 0;
}
form.write input,textarea{
    width:100%;
    padding:10px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:3px;
    box-sizing: border-box;
    margin:10px 0;
}
div.contact{
    display:inline-block;
    margin-left:80px;
    width:350px;
    vertical-align:30px;
    text-align:left;
}
div.contact>p{
    color:rgba(0,0,0,0.7);
}
div.method{
    background-repeat:no-repeat;
    padding:0 0 5px;
    padding-left:35px;
}


div.eighth{
    background-color:#000;
    padding:40px 0;
    text-align:center;
}
ul.bottom{
    display:inline-block;
    margin:0 50px;
    list-style-type:none;
    padding:0;
    width:200px;
    text-align:left;
}
ul.bottom h3{
    color:white;
}
ul.bottom li{
    margin:20px 0;
}
ul.bottom a{
    color:rgba(256,256,256,0.3);
    text-decoration:none;
    display:inline-block;
}
ul.bottom img{
    margin:0 5px;
    opacity:0.5;
}



